@media (min-width: 769px) { 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {font-family: Arial, Helvetica, sans-serif;}

  a {text-decoration: none;}
  
  nav {
    display: flex;

    img {
    width: 80%;
    }
  }

  nav img:first-child {
    display: none;
  }

  nav img:last-child {
    display: none;
  }

  .rectangle {
    width: 610px;
    height: 490px;
    flex-shrink: 0;
    background: #000;
    padding-top: 173px;
    padding-left: 112px;
    padding-right: 111px;

    h2 {
      width: 400px; /* 387 */
      color: #FFF;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; 
      letter-spacing: 4.167px;
      padding-bottom: 21px;
    }

    p {
      width: 387px;
      color: #FFF;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; 
      opacity: 0.6;
    }

    li {
      position: relative;
    }
  }

  .rectangle li::before {
    content: "";
    position: absolute;
    left: -112px;
    top: 15px;
    width: 6px;
    height: 144px;
    background: linear-gradient(27deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
  }

  main {
    display: flex;
    padding: 160px 165px;
  }

  .feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 104px;
    text-align: center;
    align-items: center;


    h4 {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      padding-bottom: 16px; 
    }

    p {
      color: #000;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; 
      opacity: 0.6;
    }

    ul:nth-child(1),
    ul:nth-child(2),
    ul:nth-child(4),
    ul:nth-child(5) {
      margin-right: 30px;
    }

    ul:nth-child(1) img,
    ul:nth-child(3) img, 
    ul:nth-child(4) img,
    ul:nth-child(5) img,
    ul:nth-child(6) img {
      padding-bottom: 48px;
    }

    ul:nth-child(1) img {
      margin-top: -21px;
    }

    ul:nth-child(2) img {
      padding-top: 15px;
      padding-bottom: 66px;
    }

    ul:nth-child(2) h4 {
      padding-top: 10px;
    }

    ul:nth-child(3) h4 {
      padding-top: 5px;
    }
  }

  .mask {
    display: flex;
    justify-content: space-between;
    padding: 68px 165px;
    background-image: url(mask.png);

    h2 {
      color: #FFF;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; 
      letter-spacing: 4.167px;
      text-transform: uppercase;
      
      span {
        display: block;
      }
    }

    button {
      border: none;
      background-color: transparent;
      color: #FFF;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2px;
      cursor: pointer;
      
      span {
        padding-left: 16px;
      }
    }

    button:hover {
      text-decoration-line: underline;
    }
  }
}

 
                    /* TABLET */
@media (min-width: 376px) and (max-width: 768px) { 

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {font-family: Arial, Helvetica, sans-serif;}
  
  a {text-decoration: none;}
   
  nav {
    display: flex;

    img {
      width: 100%;
      z-index: -1;
    }
  }

  nav img:first-child {
    display: none;
  }
  
  .rectangle {
    width: 495px;
    height: 490px;
    flex-shrink: 0;
    background: #000;
    padding-top: 173px;
    padding-left: 54px;
    padding-right: 54px;
  
    h2 {
      width: 387px;
      color: #FFF;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; 
      letter-spacing: 4.167px;
      padding-bottom: 21px;
    }
  
    p {
      width: 387px;
      color: #FFF;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; 
      opacity: 0.6;

      span {
        display: block;
      }
    }

    li {
      position: relative;
    }
  }
  
  .rectangle li::before {
    content: "";
    position: absolute;
    left: -54px;
    width: 6px;
    height: 144px;
    background: linear-gradient(27deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
  }
  
  main {
    display: flex;
    padding: 112px 40px 114px 39px;
  }
  
  .feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 72px;
    text-align: center;
    align-items: center;

    h4 {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      padding-bottom: 16px; 
    }
  
    p {
      width: 340px;
      color: #000;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; 
      opacity: 0.6;
    }

    ul:nth-child(2) img { 
      padding-bottom: 64px; 
    }


    ul:nth-child(1),
    ul:nth-child(3),
    ul:nth-child(5) {
      margin-right: 11px;
    }
  
    ul:nth-child(1) img,
    ul:nth-child(3) img, 
    ul:nth-child(5) img,
    ul:nth-child(6) img {
      padding-bottom: 48px;
    }    

    ul:nth-child(4) img {
      padding-bottom: 46px;
    }

    ul:nth-child(1) p span {
      display: block;
    }

    ul {
      width: 340px;
    }

  }
  
  .car {
    margin-bottom: -21px;
  }

  .mask {
    display: flex;
    justify-content: space-between;
    padding: 68px 40px 68px 39px;
    background-image: url(mask.png);
  
    h2 {
      color: #FFF;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; 
      letter-spacing: 4.167px;
      text-transform: uppercase;
      
      
      span {
        display: block;
      }
    }
  
    button {
      border: none;
      background-color: transparent;
      color: #FFF;
      font-size: 11px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2px;
      cursor: pointer;
      
      span {
        padding-left: 16px;
      }
    }
  
    button:hover {
      text-decoration-line: underline;
    }
  }  

  .bitmap {
    margin-left: -177px;
  }

}



                    /* MOBİL */
@media (max-width: 376px) { 

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {font-family: Arial, Helvetica, sans-serif;}
  
  a {text-decoration: none;}

  .container {
    max-width: 100%;
  }
   
  nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    img {
      width: 375px;
      height: 294px;
      flex-shrink: 0;
    }
  }

  nav img:last-child {
    display: none;
  }

  .rectangle {
    width: 375px;
    height: 300px;
    flex-shrink: 0;
    background: #000;
    padding-top: 72px;
    padding-left: 29px;
    padding-right: 28px;
  
    h2 {
      color: #FFF;
      width: 318px;
      font-size: 32px;
      line-height: 40px; 
      letter-spacing: 3.333px;
      padding-bottom: 16px;
    }
  
    p {
      color: #FFF;
      width: 318px;
      font-size: 14px;
      opacity: 0.6;

      span {
        display: block;
      }
    }

    li {
      position: relative;
    }
  }
  
  .rectangle li::before {
    content: "";
    position: absolute;
    top: -72px;
    left: 0;
    width: 128px;
    height: 6px;
    background: linear-gradient(27deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
  }
  
  main {
    display: flex;
    padding: 64px 32px 91px 33px;
  }
  
  .feature {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 56px;
    text-align: center;
    align-items: center;
  
  
    h4 {
      color: #000;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      padding-bottom: 16px; 
    }
  
    p {
      width: 310px;
      color: #000;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; 
      opacity: 0.6;
    }
  
    ul:nth-child(3) img {
      margin-top: 25px;
    } 

    ul:nth-child(2) img { 
      padding-bottom: 66px;
    }
  
    ul:nth-child(1),
    ul:nth-child(3),
    ul:nth-child(5) {
      margin-right: 11px;
    }
  
    ul:nth-child(1) img,
    ul:nth-child(3) img, 
    ul:nth-child(4) img,
    ul:nth-child(5) img,
    ul:nth-child(6) img {
      padding-bottom: 48px;
    }    
  }
 
  .car {
    margin-bottom: -21px;
  }

  .mask::before {
    content: "";
    position: absolute;
    margin-top: -64px;
    left: 32px;
    width: 128px;
    height: 6px;
    background: linear-gradient(27deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
  }

  .mask {
    justify-content: space-between;
    padding: 64px 32px 64px 33px;
    background-image: url(mask1.png);
    background-repeat: no-repeat;
    

    h2 {
      width: 310px;
      color: #FFF;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 3.333px;
      text-transform: uppercase;
      padding-bottom: 24px;
      
      span {
        display: block;
      }
    }
  
    button {
      border: none;
      background-color: transparent;
      color: #FFF;
      font-size: 11px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2px;
      cursor: pointer;
      
      span {
        padding-left: 16px;
      }
    }
  
    button:hover {
      text-decoration-line: underline;
    }
  }  

  .bitmap {
    margin-left: -177px;
  }

}



/* ANİMASYONLAR */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

nav {
  animation: fadeIn 1s ease-out;
}


@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.rectangle li{
  animation: fade 1s ease-out;
}

.rectangle {overflow: hidden;}

.feature ul {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.4s ease, transform 1s ease;
}

.feature ul.animate {
  opacity: 1;
  transform: translateY(0);
}
