* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  color: white;
} */

a {
  color: inherit;
  text-decoration: none;
} 

a:hover {
  text-decoration: underline!important;
}

.stories-container {
  width: 1440px;
}

.stories-banner {
  background-image: url('banner.svg');
  width: 100%;
  height: 650px;
}

.stories-banner-content {
  
  padding-top: 152px;
  padding-left: 112px;
  padding-bottom: 122px;

  span {
    display: block;
  }

  strong {
    opacity: 1 !important;
  }

  & h3 {
    color: #FFF;
    font-family: "DM Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    /* margin-bottom: 24px; */
  }

  & h1 {
    width: 387px;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4.167px;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 16px;
    text-align: left;
  }

  & p {
    width: 387px;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    opacity: 0.5 !important; 
    margin-bottom: 24px;
  }

  & .read-story-bnr {
    display: flex;
    gap: 16px;
    align-items: center;

    & h3 {
      color: #FFF;
      text-align: right;
      font-family: "DM Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2px;
    }
  }
}

/* .gradient {
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6), rgba(0,0,0, 0.8) );
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;

} */

.p-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  margin-bottom: 20px;
}

.stories-posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);


  & .stories-card {
    /* width: 360px; */
    height: 500px;
    position: relative;

    cursor: pointer;

    & img {
      /* width: 360px; */
      /* height: 500px; */
      width: 100%;
      
    }

    
  }

 

  .stories-card img  {
    transition: all 1s;
    position: relative;
    z-index: -1;
    transform-origin: center;
  }
  
  .stories-card:hover img:first-child {
    transform: scale(1.1) rotateY(180deg);
    box-shadow: 10px 10px 20px black;
    z-index: 1;
  }
  
  .stories-card img:first-child {
    transform: scale(1) rotateY(0);
  }
  

 

  & .card-content {
    /* width: 280px; */
    /* width: 100%;
    position: absolute;
    bottom: 50px;
    padding-left: 40px; */

    width: 100%;
    position: absolute;
    padding: 40px;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0, 0.6), rgba(0,0,0, 0.6), rgba(0,0,0, 0.8) );
    color: #fff;
    z-index: 1;

    & p {
      color: #FFF;
      font-family: "DM Sans";
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      padding-bottom: 10px;
    }

    & h2 {
      color: #FFF;
      font-family: "DM Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;

      padding-bottom: 10px;
    }

  }

  & .read-story {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;

    & h3 {
      color: #FFF;
      font-family: "DM Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2px;
    }

    & img {
      width: 42px;
    }
  }
}

@media(width < 1440px ) {
  .stories-container {
    width: 100%;
  }

}



@media(width < 960px ) {
  .stories-container {
    width: 100%;
  }

  .stories-posts {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media(width < 500px ) {
  .stories-container {
    width: 100%;
  }

  .stories-posts {
    grid-template-columns: repeat(1, 1fr);
  }

}